@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=DM+Sans:wght@400;700");
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #111111;
  --text-color-bright: #f0f0f0;
  --background: #000000;
  --background-light: #eee7e7;
  --primary-color: #0f0e0e;
  --accent-color: #d4d4d4; /* Changed from yellowish to light grey */
  --border-color: #505050;
  --text-link :#7a7a7a;
  --text-link-bright:#1f1e1e;
  --primary : #0a0a0a;
  --secondary : #c0c0c0;
  --secondary-dark : #0a0a0a;
  
}

.cursive-regular {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
}


.text-body {
  color: var(--text-color);
}

.font-body {
font-family: Ubuntu -apple-system BlinkMacSystemFont "Segoe UI" Roboto Oxygen Cantarell "Fira Sans" "Droid Sans" "Helvetica Neue" sans-serif;
}

.bg-body {
  background-color: var(--background);
}

.bg-secondary {
  @apply bg-[var(--secondary)] dark:bg-[var(--secondary-dark)] ;
}
.bg-primary {
  background-color: var(--primary);
}

.text-bright {
  color: var(--text-color-bright);
}

.bg-light {
  background-color: var(--background-light);
}
.border-body {
  border-color: var(--border-color);
}

.text-color {
 @apply text-[var(--text-color)] dark:text-[var(--text-color-bright)]
}
/* General styles */
html {
  @apply text-base font-body text-stone-100;
}

body {
  @apply bg-[var(--background-light)] dark:bg-[var(--background)] text-[var(--text-color)] dark:text-[var(--text-color-bright)] font-body;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-color;
}

h1 {
  @apply text-2xl md:text-3xl xl:text-4xl font-extrabold mb-4;
}

h2 {
  @apply text-3xl mb-4 ;
}

p, table {
  @apply mb-6 text-justify text-lg font-normal;
}

a {
  @apply text-[var(--text-link-bright)] dark:text-[var(--text-link)] no-underline; /* Updated to grey */
}

a:hover {
  @apply text-[#635353];
}

button {
  @apply hover:text-green-600 bg-secondary text-[#f0f0f0] rounded px-4 py-2;
}

blockquote {
  @apply relative italic bg-[#202020] p-4 mb-6 border-l-4 border-[#b94c50];
}

blockquote p {
  @apply mb-0;
}

hr {
  @apply border-[#505050] mb-4;
}

img {
  @apply w-full max-w-full block py-8 min-h-[4rem]
}

figcaption {
  @apply mt-2 text-center text-sm italic;
}

ul, ol {
  @apply list-inside text-[#f0f0f0];
}

table {
  @apply border-collapse w-full mb-6 border border-[#505050];
}

th, td {
  @apply p-2 border border-[#505050];
}

.page-intro {
  @apply text-center w-full mx-auto mb-8 max-w-lg;
}

/* Dialog styles */
.DialogOverlay {
  @apply fixed inset-0 bg-[rgba(0,0,0,0.7)] grid place-items-center overflow-y-auto;
}

.DialogContent {
  @apply p-6 rounded-lg bg-[#202020] text-[#f0f0f0];
}

/* Scrollbar styles */
::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#d4d4d4] rounded-full cursor-pointer; /* Changed to grey */
}

.gradient-text {
  background-image: linear-gradient(180deg, var(--accent-color), rgba(131, 50, 33, 0.97));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
