@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 14, 14);
  overflow: hidden;
  font-family: 'Georgia', 'Times New Roman', 'Merriweather', 'Arial', 'Helvetica Neue', 'Verdana', sans-serif;;
}

.blob {
  position: fixed;
  width: 40vw;
  height: 40vw;
  left: 10%;
  top: -50%;
  background-color: rgba(218, 218, 218, 0.377); /* Semi-transparent white */
  border-radius: 50%; /* Makes it circular */
  filter: blur(200px); /* Blurs the blob */
  opacity: 0.7; /* Adjust opacity for effect */
  animation: float 6s ease-in-out infinite; /* Optional floating animation */
  z-index: 0;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.project-card {
  flex: 0 0 100%; /* Each card takes full width */
  scroll-snap-align: center; /* Center align cards */
  margin-right: 1rem; /* Optional spacing */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-2xl md:text-4xl font-extrabold my-2 md:my-4;
}

h2 {
  @apply text-2xl md:text-3xl my-2 md:my-4 text-gray-200;
}

h3 {
  @apply text-xl md:text-2xl my-2 md:my-4 text-gray-200;
}

p, table {
  @apply mb-6 text-justify text-lg font-normal;
}

img {
  @apply mx-auto my-6;
}

@layer base {
  * {
    @apply border-border;
  }

  ul {
    @apply list-disc pl-6 mb-6 text-lg font-normal;
  }

  ol {
    @apply list-decimal pl-6 mb-6 text-lg font-normal;
  }

  li {
    @apply mb-2;
  }
}

.heroclip {
  clip-path: polygon(100% 0, 100% 78%, 35% 93%, 0 88%, 0% 0%);
  transition: clip-path 0.3s ease-in-out;
}



@media (max-width: 768px) {
  .heroclip {
    clip-path: polygon(100% 0, 100% 82%, 40% 94%, 0 91%, 0% 0%);
  }
}

@media (max-width: 480px) {
  .heroclip {
    clip-path: polygon(100% 0, 100% 88%, 50% 97%, 0 93%, 0% 0%);
  }
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::selection {
  background-color: rgba(0, 124, 182, 0.7); /* Cyan-400 with 70% opacity */
  color: #ffffff; /* Optional: Change selected text color, e.g., to white */
}
